[Unit]
Description=VRI video record
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=vri
WorkingDirectory=/var/lib/vri-record
ExecStart=/usr/local/bin/vri-record
